---
import "@/ui/styles/globals.css";
---

<!doctype html>
<html lang="en" class="group/html">
    <head>
        <meta charset="utf-8" />
        <title>Building a modern SaaS with Microsoft365 integration</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="noindex, nofollow" />

        <slot name="head" />
    </head>

    <body>
        <slot />
    </body>
</html>
