---
import { cn } from "@/ui/utils/cn";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
    iconProps?: HTMLAttributes<"span">;
    textProps?: HTMLAttributes<"span">;
}

const { iconProps, textProps, class: className, ...divProps } = Astro.props;
---

<div {...divProps} class={cn("antialiased flex items-center gap-2 font-logo font-bold", className)}>
    <span {...textProps} class={cn("text-8xl", textProps?.class)}
        ><span class="font-syncopate">Zeit</span>365</span
    >
</div>
