---
import RootLayout from "@/ui/components/RootLayout.astro";
import Zeit365Logo from "@/ui/components/Zeit365Logo.astro";
---

<RootLayout>
    <div class="bg-base-100 h-screen w-screen flex items-center justify-center">
        <Zeit365Logo />
    </div>
</RootLayout>
